body {
  background-color: #027c71;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.heading {
  font-family: 'Pacifico', cursive;
  margin: 35px auto 20px;
}

hr {
  border-top: 2px solid black;
  width: 20%;
  margin-bottom: 55px;
}

.main {
  width: 100%;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: #027c71;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #71ce57 !important;
  border-color: #027c71 !important;
}



label {
  font-size: 20px;
}

.btn {
  width: 200px;
}

#finalAmount {
  font-family: 'Lobster', cursive;

  margin: 50px auto;
}

  #finalAmount h2 {
    font-size: 50px;
  }

.finalValue {
  font-family: 'Amiri', serif;
}

@media (max-width: 768px) {
  hr {
    width: 40%;
  }

  .main {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 60px;
  }

  hr {
    width: 40%;
  }

  #finalAmount h2,
  .finalValue {
    font-size: 40px;
  }
}
